.vasu{
    background-color: brown; text-align: center;
    color: black;
}
.shafi{
    background-color: blue;
    color: black;
}
.jagga{
    background-color: aquamarine;

}
#taju{
    background-color: blueviolet;
}